@*@model RegisterConfirmationModel*@
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{

    <p>
        Ну-ка иди и проверь свою почту! Мы выслали тебе кое-что интересненькое (нет).
    </p>

}
