@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Этот проект направлен на отработку аутентификации и авторизации двумя способами - через емейл и через смс-код. Разработчик Зотов Е.А.</a>.</p>
</div>
