@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Этот проект направлен на отработку аутентификации и авторизации двумя способами - через емейл и через смс-код.</p>
    <p>Написан с использованием Microsoft Identity, который основан на RazorPages, но для совместимости с другими нашими сервисами переделал под стандартную MVC-структуру с обычными страницами.</p>
    <p>На данный момент не работает кнопка "подтвердить" при входе через смс-код, поскольку переделывал логику сравнения полученного кода на использование кэша (с ним не до конца получилось)</p>
    <p>Разработчик Зотов Е.А.</p>
</div>
